audioread==3.0.1
certifi==2025.7.9
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
cycler==0.12.1
decorator==5.2.1
idna==3.10
joblib==1.5.1
kiwisolver==1.4.7
librosa==0.8.1
llvmlite==0.43.0
matplotlib==3.3.4
numba==0.60.0
numpy==1.23.5
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
packaging==25.0
pillow==11.3.0
platformdirs==4.3.8
pooch==1.8.2
pycparser==2.22
pyparsing==3.2.3
python-dateutil==2.9.0.post0
requests==2.32.4
resampy==0.4.3
scikit-learn==1.6.1
scipy==1.13.1
six==1.17.0
soundfile==0.13.1
threadpoolctl==3.6.0
torch==1.13.1
torchvision==0.14.1
tqdm==4.67.1
typing_extensions==4.14.1
urllib3==2.5.0
